pandas
numpy
faiss-cpu
sentence-transformers
rank-bm25
langchain
langchain-openai
langgraph
openai
langchain-community
gradio
gtts
deep-translator
langdetect
reportlab
rouge-score
textstat
langchain-text-splitters
nltk
